<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="dist/css/main.css">
    <link rel="stylesheet" href="dist/css/abaout.css">
    <link rel="stylesheet" href="dist/css/bg-colors.css">
    <script src="https://kit.fontawesome.com/dc256b1234.js"></script>
    <meta name="description" content="🥇En Tecnoservices, 🥇 distribuidor oficial de DIGI mobil, Lowi, Fi Network y Republica Movil.
                    Somos, además, distribuidores oficiales de VODAFONE ONE, para empresas  ">
    <title>TecnoServices 🥇- Sobre nosotros</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KNYLQ0GYRL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-KNYLQ0GYRL');
    </script>
</head>

<body>

    <header style="background-image: url('dist/img/todos somos digi 2019 3.jpg'); ">
        <div class="pt-2 pb-2 navbar-light bg-light sticky-top nav-shadow"
            style="border-bottom-left-radius: 5px;border-bottom-right-radius: 5px ;">
            <nav class="navbar navbar-expand-lg container">
                <a class="navbar-brand  font-weight-bolder font-logo" href="#">TECNO<span
                        class="font-logo1">services</span></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto ">
                        <li class="nav-item">
                            <a class="nav-link " href="./">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="./distribudor-digi-oficial">Digi Oficial</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./servicio-tecnico">Servicio Tecnico</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Lowcost
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/lowi">Lowi</a>
                                <a class="dropdown-item" href="/finetwork">Finetwork</a>
                                <a class="dropdown-item" href="/republica-movil">Republica Móvil</a>
                                <a class="dropdown-item" href="/distribudor-digi-oficial">DigiMobile</a>

                            </div>
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link active" href="./abaout">Sobre Nosotros </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="./contacto">Contacto </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

    </header>
    <div class="body">
        <div class="content m-auto">
            <div class="text-center p-2">
                <h1>Sobre nosotros</h1>
                <p>Tecno Services, distribuidor oficial de DIGI mobil, Lowi, Fi Network y Republica Movil.
                    Somos, además, distribuidores oficiales de VODAFONE ONE, para empresas </p>
            </div>
            <div class="row container m-auto">
                <div class="col-lg-4">
                    <img src="dist/img/todos somos digi 2019 2.jpg" class="w-100 rounded" alt="">
                </div>
                <div class="col-lg-8 text-justify">
                    <h3>Nuestra historia</h3>
                    <p>Tecno Services nace con muchísima ilusión y aprovechando una experiencia en telecomunicaciones de
                        cerca de 20 años.
                        En 2017 cerramos acuerdo de comercialización con DIGI mobil, operador virtual de Movistar,
                        abrimos punto de venta oficial y nos convertimos en pocos meses en referencia tanto por nuestras
                        ventas, como el enfoque de negocio y sobre todo, en el trato con el cliente
                    </p>
                    <P>
                        En el 2019 abrimos nuestro 2º punto de venta y cerramos acuerdo con varios operadores de
                        telefonía móvil y fibra, Lowi, Fi Network, republica móvil… añadiendo opciones para nuestros
                        clientes y ampliando negocio. <br>
                        <p class="text-center">
                            Ven a conocernos o ponte en contacto con nosotros, no te arrepentirás!!!!
                        </p>
                        <b class="text-center">
                            EN 2019, LOGRAMOS ESTAR ENTRE LOS 10 MEJORES DISTRIBUIDORES A NIVEL NACIONAL

                        </b>

                    </P>
                </div>

            </div>
            <h4 class="text-center mt-5">Marcas</h4>
            <div class="slider">
                <div class="slide-track">
                    <div class="slide">
                        <img src="dist/img/lowi-350x183.png" height="100" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="dist/img/republica-movil-350x183_0.png" height="100" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="dist/img/finetwork-350x183.png" height="100" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="dist/img/Digi_white-background.png" height="100" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="dist/img/lowi-350x183.png" height="100" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="dist/img/republica-movil-350x183_0.png" height="100" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="dist/img/finetwork-350x183.png" height="100" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="dist/img/Digi_white-background.png" height="100" width="250" alt="" />
                    </div>

                </div>
            </div>

        </div>

    </div>

    <footer class="container m-auto">
        <div class=" row">
            <div class="col-lg-6 col-12">
                <a href="./politica-privacidad" target="_blank" rel="noopener noreferrer">POLÍTICA</a> | <a
                    href=".//avisolegal">AVISO
                    LEGAL</a> | <a href="./politica-cookies" target="_blank" rel="noopener noreferrer">COOKIES</a> </div>
            <div class="col-lg-6 col-12 text-right">
                © 2020, realizado por <a href="https://joeldev.es">JOELDEV</a> para una mejor web
            </div>
        </div>
    </footer>
    <div class="numero col-lg-12 ">

        <div class="row ">
            <a class="btn btn-primary" href="tel:+667873084"><i class="fas fa-phone-alt"></i> Llamar</a>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
        <script src="./dist/js/index.js"></script>
</body>

</html>