<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="dist/css/main.css">
    <link rel="stylesheet" href="dist/css/bg-colors.css">

    <title>Política de Privacidad</title>
</head>

<body>

    <div class="pt-2 pb-2 navbar-light bg-light sticky-top nav-shadow"
        style="border-bottom-left-radius: 5px;border-bottom-right-radius: 5px ;">
        <nav class="navbar navbar-expand-lg container">
            <a class="navbar-brand  font-weight-bolder font-logo" href="#">TECNO<span
                    class="font-logo1">services</span></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="./">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="./distribudor-digi-oficial">Digi Oficial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./servicio-tecnico">Servicio Tecnico</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="./lowcost">LowCost</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="./abaout">Sobre Nosotros </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="./contacto">Contacto </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="body1 container m-auto">

        <div>
            <h2 style="text-align:center;">WEB: Aviso legal</h2>
            <p></p>

            <div style="text-align: justify;"></div>

            <div style="text-align: center;"><span style="font-size:14px"><strong>LEY DE LOS SERVICIOS DE LA SOCIEDAD DE
                        LA INFORMACIÓN (LSSI)</strong></span></div>

            <div>
                <p></p>

                <p style="text-align: justify;"><span style="font-size:14px">Federico Santonja Rivera, responsable del sitio
                        web, en adelante RESPONSABLE, pone a disposición de los usuarios el presente documento, con el
                        que pretende dar cumplimiento a las obligaciones dispuestas en la Ley 34/2002, de 11 de julio,
                        de Servicios de la Sociedad de la Información y de Comercio Electrónico (LSSICE), BOE N.º 166,
                        así como informar a todos los usuarios del sitio web respecto a cuáles son las condiciones de
                        uso.</span></p>

                <div style="text-align: justify;"><span style="font-size:14px">Toda persona que acceda a este sitio web
                        asume el papel de usuario, comprometiéndose a la observancia y cumplimiento riguroso de las
                        disposiciones aquí dispuestas, así como a cualquier otra disposición legal que fuera de
                        aplicación. </span></div>

                <p style="text-align: justify;"><span style="font-size:14px">Federico Santonja Rivera se reserva el derecho
                        de modificar cualquier tipo de información que pudiera aparecer en el sitio web, sin que exista
                        obligación de preavisar o poner en conocimiento de los usuarios dichas obligaciones,
                        entendiéndose como suficiente la publicación en el sitio web de Federico Santonja Rivera.</span></p>

                <p><span style="font-size:14px"><br>
                        <strong>1. DATOS IDENTIFICATIVOS</strong></span></p>

                <p><span style="font-size:14px">Nombre de dominio: tecnoservices.es<br>
                        Nombre comercial: TECNO SERVICES<br>
                        Denominación social: TECNO SERVICES WIFI CONNECT S.L.<br>
                        NIF: B88405121<br>
                        Domicilio social: Avda. Lope de Figueroa, 10 28804 Alcalá de Henares<br>
                        Teléfono: 918287526<br>
                        e-mail:info@tecnoservices.es<br>
                        Inscrita en el Registro (Mercantil / Público): </span></p>
            </div>

            <div></div>

            <div><span style="font-size:14px"><strong>2. DERECHOS DE PROPIEDAD INTELECTUAL E INDUSTRIAL</strong></span>
            </div>

            <div></div>

            <div>
                <div style="text-align: justify;"><span style="font-size:14px">El sitio web, incluyendo a título
                        enunciativo pero no limitativo su programación, edición, compilación y demás elementos
                        necesarios para su funcionamiento, los diseños, logotipos, texto y/o gráficos, son propiedad del
                        RESPONSABLE o, si es el caso, dispone de licencia o autorización expresa por parte de los
                        autores. Todos los contenidos del sitio web se encuentran debidamente protegidos por la
                        normativa de propiedad intelectual e industrial, así como inscritos en los registros públicos
                        correspondientes. </span></div>

                <div style="text-align: justify;"></div>

                <div style="text-align: justify;"><span style="font-size:14px">Independientemente de la finalidad para
                        la que fueran destinados, la reproducción total o parcial, uso, explotación, distribución y
                        comercialización, requiere en todo caso la autorización escrita previa por parte del
                        RESPONSABLE. Cualquier uso no autorizado previamente se considera un incumplimiento grave de los
                        derechos de propiedad intelectual o industrial del autor. </span></div>

                <div style="text-align: justify;"></div>

                <div style="text-align: justify;"><span style="font-size:14px">Los diseños, logotipos, texto y/o
                        gráficos ajenos al RESPONSABLE y que pudieran aparecer en el sitio web, pertenecen a sus
                        respectivos propietarios, siendo ellos mismos responsables de cualquier posible controversia que
                        pudiera suscitarse respecto a los mismos. El RESPONSABLE autoriza expresamente a que terceros
                        puedan redirigir directamente a los contenidos concretos del sitio web, y en todo caso redirigir
                        al sitio web principal de tecnoservices.es. </span></div>

                <div style="text-align: justify;"></div>

                <div style="text-align: justify;"><span style="font-size:14px"> El RESPONSABLE reconoce a favor de sus
                        titulares los correspondientes derechos de propiedad intelectual e industrial, no implicando su
                        sola mención o aparición en el sitio web la existencia de derechos o responsabilidad alguna
                        sobre los mismos, como tampoco respaldo, patrocinio o recomendación por parte del mismo.<br>
                        <br>
                        Para realizar cualquier tipo de observación respecto a posibles incumplimientos de los derechos
                        de propiedad intelectual o industrial, así como sobre cualquiera de los contenidos del sitio
                        web, puede hacerlo a través del correo electrónico info@tecnoservices.es.</span><br>
                </div>
            </div>

            <div style="text-align: justify;"><span style="font-size:14px"><strong>3. EXENCIÓN DE
                        RESPONSABILIDADES</strong></span></div>

            <div style="text-align: justify;"></div>

            <div style="text-align: justify;"><span style="font-size:14px">El RESPONSABLE se exime de cualquier tipo de
                    responsabilidad derivada de la información publicada en su sitio web siempre que esta información
                    haya sido manipulada o introducida por un tercero ajeno al mismo.</span></div>

            <div style="text-align: justify;"></div>

            <div style="text-align: justify;"><span style="font-size:14px"><strong>Uso de <i>Cookies</i></strong></span>
            </div>

            <div style="text-align: justify;"></div>

            <div>
                <div style="text-align: justify;"><span style="font-size:14px">Este sitio web puede utilizar
                        <i>cookies</i> técnicas (pequeños archivos de información que el servidor envía al ordenador de
                        quien accede a la página) para llevar a cabo determinadas funciones que son consideradas
                        imprescindibles para el correcto funcionamiento y visualización del sitio. Las <i>cookies</i>
                        utilizadas tienen, en todo caso, carácter temporal, con la única finalidad de hacer más eficaz
                        la navegación, y desaparecen al terminar la sesión del usuario. En ningún caso, estas
                        <i>cookies</i> proporcionan por sí mismas datos de carácter personal y no se utilizarán para la
                        recogida de los mismos. </span></div>

                <div style="text-align: justify;"></div>

                <div style="text-align: justify;"><span style="font-size:14px">Mediante el uso de <i>cookies</i> también
                        es posible que el servidor donde se encuentra la web reconozca el navegador utilizado por el
                        usuario con la finalidad de que la navegación sea más sencilla, permitiendo, por ejemplo, el
                        acceso de los usuarios que se hayan registrado previamente a las áreas, servicios, promociones o
                        concursos reservados exclusivamente a ellos sin tener que registrarse en cada visita. También se
                        pueden utilizar para medir la audiencia, parámetros de tráfico, controlar el progreso y número
                        de entradas, etc., siendo en estos casos <i>cookies</i> prescindibles técnicamente, pero
                        beneficiosas para el usuario. Este sitio web no instalará <i>cookies</i> prescindibles sin el
                        consentimiento previo del usuario.</span><br>
                </div>

                <div style="text-align: justify;"><span style="font-size:14px">El usuario tiene la posibilidad de
                        configurar su navegador para ser alertado de la recepción de <i>cookies</i> y para impedir su
                        instalación en su equipo. Por favor, consulte las instrucciones de su navegador para ampliar
                        esta información.</span><br>
                </div>
            </div>

            <div style="text-align: justify;"><span style="font-size:14px"><strong>Política de enlaces</strong></span>
            </div>

            <div>
                <div style="text-align: justify;"></div>

                <div style="text-align: justify;"><span style="font-size:14px">Desde el sitio web, es posible que se
                        redirija a contenidos de terceros sitios web. Dado que el RESPONSABLE no puede controlar siempre
                        los contenidos introducidos por terceros en sus respectivos sitios web, no asume ningún tipo de
                        responsabilidad respecto a dichos contenidos. En todo caso, procederá a la retirada inmediata de
                        cualquier contenido que pudiera contravenir la legislación nacional o internacional, la moral o
                        el orden público, procediendo a la retirada inmediata de la redirección a dicho sitio web,
                        poniendo en conocimiento de las autoridades competentes el contenido en cuestión. </span></div>

                <div style="text-align: justify;"></div>

                <div style="text-align: justify;"><span style="font-size:14px">El RESPONSABLE no se hace responsable de
                        la información y contenidos almacenados, a título enunciativo pero no limitativo, en foros,
                        chats, generadores de blogs, comentarios, redes sociales o cualquier otro medio que permita a
                        terceros publicar contenidos de forma independiente en la página web del RESPONSABLE. Sin
                        embargo, y en cumplimiento de lo dispuesto en los artículos 11 y 16 de la LSSICE, se pone a
                        disposición de todos los usuarios, autoridades y fuerzas de seguridad, colaborando de forma
                        activa en la retirada o, en su caso, bloqueo de todos aquellos contenidos que puedan afectar o
                        contravenir la legislación nacional o internacional, los derechos de terceros o la moral y el
                        orden público. En caso de que el usuario considere que existe en el sitio web algún contenido
                        que pudiera ser susceptible de esta clasificación, se ruega lo notifique de forma inmediata al
                        administrador del sitio web. </span></div>

                <div style="text-align: justify;"></div>

                <div style="text-align: justify;"><span style="font-size:14px">Este sitio web se ha revisado y probado
                        para que funcione correctamente. En principio, puede garantizarse el correcto funcionamiento los
                        365 días del año, 24 horas al día. Sin embargo, el RESPONSABLE no descarta la posibilidad de que
                        existan ciertos errores de programación, o que acontezcan causas de fuerza mayor, catástrofes
                        naturales, huelgas o circunstancias semejantes que hagan imposible el acceso a la página
                        web.</span><br>
                </div>
            </div>

            <div style="text-align: justify;"><span style="font-size:14px"><strong>Direcciones IP</strong></span></div>

            <div style="text-align: justify;"></div>

            <div style="text-align: justify;"><span style="font-size:14px">Los servidores del sitio web podrán detectar
                    de manera automática la dirección IP y el nombre de dominio utilizados por el usuario. Una dirección
                    IP es un número asignado automáticamente a un ordenador cuando este se conecta a Internet. Toda esta
                    información se registra en un fichero de actividad del servidor que permite el posterior
                    procesamiento de los datos con el fin de obtener mediciones únicamente estadísticas que permitan
                    conocer el número de impresiones de páginas, el número de visitas realizadas a los servidores web,
                    el orden de visitas, el punto de acceso, etc.</span></div>

            <div style="text-align: justify;"></div>

            <div style="text-align: justify;"><span style="font-size:14px"><strong>4. LEY APLICABLE Y
                        JURISDICCIÓN</strong></span></div>

            <div style="text-align: justify;"></div>

            <div style="text-align: justify;"><span style="font-size:14px">Para la resolución de todas las controversias
                    o cuestiones relacionadas con el presente sitio web o de las actividades en él desarrolladas, será
                    de aplicación la legislación española, a la que se someten expresamente las partes, siendo
                    competentes para la resolución de todos los conflictos derivados o relacionados con su uso los
                    Juzgados y Tribunales más cercanos a ALCALA DE HENARES.</span></div>
        </div>
    </div>
    <footer class="container m-auto">
        <div class=" row">
            <div class="col-lg-6 col-12">
                <a href="./politica-privacidad" target="_blank" rel="noopener noreferrer">POLÍTICA</a>|<a href="./avisolegal">AVISO
                    LEGAL</a>| <a href="./politica-cookies" target="_blank" rel="noopener noreferrer">COOKIES</a>
            </div>
            <div class="col-lg-6 col-12 text-right">
                © 2020, realizado por <a href="https://joeldev.es">JOELDEV</a> para una mejor web
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>