<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="dist/css/main.css">
    <link rel="stylesheet" href="dist/css/bg-colors.css">
    <script src="https://kit.fontawesome.com/dc256b1234.js"></script>
    <meta name="description"
        content="🥇 Tecnoservices 🥇 Reparación móvil, odernadores, intalaciones de redes e intalaciones de amplificadores de cobertura">
    <title>TecnoServices 🥇- Contacto </title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KNYLQ0GYRL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-KNYLQ0GYRL');
    </script>
</head>

<body>
    <div class="pt-2 pb-2 navbar-light bg-light sticky-top nav-shadow"
        style="border-bottom-left-radius: 5px;border-bottom-right-radius: 5px ;">
        <nav class="navbar navbar-expand-lg container">
            <a class="navbar-brand  font-weight-bolder font-logo" href="#">TECNO<span
                    class="font-logo1">services</span></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item">
                        <a class="nav-link" href="./">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="./distribudor-digi-oficial">Digi Oficial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./servicio-tecnico">Servicio Tecnico</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Lowcost
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/lowi">Lowi</a>
                            <a class="dropdown-item" href="/finetwork">Finetwork</a>
                            <a class="dropdown-item" href="/republica-movil">Republica Móvil</a>
                            <a class="dropdown-item" href="/distribudor-digi-oficial">DigiMobile</a>
                        </div>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="./abaout">Sobre Nosotros </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link active" href="./contacto">Contacto </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="  m-auto text-center text-light">
        <div class="col-lg-12">
            <div class="row">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3034.5134415269854!2d-3.3531636846019586!3d40.486027979357104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd21aa4be9338a1e4!2sTecno%20Services%20DISTRIBUIDOR%20DIGI!5e0!3m2!1ses!2ses!4v1583001977332!5m2!1ses!2ses"
                    width="50%" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d758.6333625892955!2d-3.3479821708225597!3d40.48558541871315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4249483d1d7ea1%3A0x619ccba3480f34ad!2sCentro%20Comercial%20El%20Val!5e0!3m2!1ses!2ses!4v1585225356488!5m2!1ses!2ses"
                    width="50%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
        </div>


    </div>


    <div class="body">
        <div class="content m-auto">
            <div class="text-center p-2">
                <h1>Contacto</h1>
                <p>Ponte en contacto a travez de nuestro formulario o llamanos</p>
            </div>
            <div class="row container m-auto">
                <div class="col-lg-8">
                    <h3>Formulario</h3>
                    <div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Nombre</span>
                            </div>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Nombre"
                                aria-label="Nombre" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Correo</span>
                            </div>
                            <input type="text" class="form-control" name="email" id="email"
                                placeholder="correo@correo.com" aria-label="Nombre" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text pr-4" id="inputGroup-sizing-default">Móvil</span>
                            </div>
                            <input type="tel" class="form-control" id="phone" name="phone" placeholder="612 345 678"
                                aria-label="Móvil" aria-describedby="basic-addon1" required>
                        </div>
                        <select class="custom-select custom-select mb-3" id="asunto" name="asunto">
                            <option selected value="0">Seleccione el Asunto</option>
                            <option value="Tarifa lowi">Tarifa lowi</option>
                            <option value="Tarifa Digi">Tarifa Digi</option>
                            <option value="Tarifa Finetwork">Tarifa Finetwork</option>
                            <option value="Tarifa Republica Móvil">Tarifa Republica Móvil</option>
                            <option value="Reparación">Reparación</option>
                        </select>


                        <div class="form-group">
                            <label for="message">Description</label>
                            <textarea class="form-control" id="message" rows="3" required></textarea>
                        </div>
                        <p><input type="checkbox" id="checkPolitica" aria-label="Checkbox for following text input"
                                required> He leido la
                            <a href="https://tecnoservices.es/politica-privacidad" target="_blank"
                                rel="noopener noreferrer"> Política
                                de Privacidad</a>
                        </p>
                        <input type="submit" value="Enviar" id="sendemail" name="sendemail" class="btn btn-primary ">

                    </div>
                </div>
                <div class="col-lg-4">
                    <h3>Horario</h3>
                    <p>
                        <b>Lunes</b> 10:00–20:00<br>
                        <b>Martes</b> 10:00–20:00 <br>
                        <b>Miércoles</b> 10:00–20:00 <br>
                        <b>Jueves</b> 10:00–20:00 <br>
                        <b>Viernes</b> 10:00–20:00 <br>
                        <b>Sábado</b> Cerrado <br>
                        <b>Domingo</b> Cerrado <br>
                        <b>Tienda 1:</b> Avda. Lope de Figueroa, 10 28804 Alcalá de Henares <br>
                        <b>Tienda 2:</b> Avda. Valladolid, 2 C.C.El val Loc.234 <br>
                        <b>Móvil:</b> 602 24 32 34 <br>
                        <b class="">info@tecnoservices.es</b>
                    </p>



                    <a href="https://g.page/DIGIAlcala" target="_blank" rel="noopener noreferrer"
                        class="btn btn-republica btn-lg btn-block"> Cómo Llegar</a>
                    <a href="tel: +3612345678" class="btn btn-primary btn-lg btn-block"> Llamar</a>
                </div>


            </div>


        </div>
    </div>
    <footer class="container m-auto">
        <div class=" row">
            <div class="col-lg-6 col-12">
 <a href="./politica-privacidad" target="_blank" rel="noopener noreferrer">POLÍTICA</a> | <a
                    href=".//avisolegal">AVISO
                    LEGAL</a> | <a href="./politica-cookies" target="_blank" rel="noopener noreferrer">COOKIES</a>            </div>
            <div class="col-lg-6 col-12 text-right">
                © 2020, realizado por <a href="https://joeldev.es">JOELDEV</a> para una mejor web
            </div>
        </div>
    </footer>
    <div class="numero col-lg-12 ">

        <div class="row ">
            <a class="btn btn-primary" href="tel:+667873084"><i class="fas fa-phone-alt"></i> Llamar</a>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
        <script src="./dist/js/jquery/jquery.min.js"></script>
        <link rel="stylesheet" href="./dist/js/alertify/css/alertify.min.css">
        <link rel="stylesheet" href="./dist/js/alertify/css/themes/default.min.css">
        <script src="./dist/js/alertify/alertify.min.js"></script>
        <script src="./dist/js/index.js"></script>
        <script src="./dist/js/contacto.js"></script>
</body>

</html>