<html lang="es">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="dist/css/main.css" />
    <link rel="stylesheet" href="dist/css/digi.css" />
    <link rel="stylesheet" href="dist/css/bg-colors.css" />
    <meta
      name="description"
      content="🥇En Tecnoservices 🥇 Somos distribudores Oficiales y podemos asegurarte que es una de las mejores compañias con calidad precio en sus tarifas"
    />
    <title>TecnoServices ✅ Lowcost ✅ - Digimobile Oficial </title>
    <title></title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-KNYLQ0GYRL"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []; function gtag() {
      dataLayer.push(arguments); } gtag('js', new Date()); gtag('config',
      'G-KNYLQ0GYRL');
    </script>
  </head>

  <body>
    <header
      style="background-image: url('dist/img/lope.jpg'); 
		background-color: #0070a8;
		background-repeat: no-repeat;
	    background-position: center;
		height: 360px;
		overflow: hidden;
		"
    >
      <div
        class="pt-2 pb-2 navbar-light bg-light sticky-top nav-shadow"
        style="border-bottom-left-radius: 5px;border-bottom-right-radius: 5px ;"
      >
        <nav class="navbar navbar-expand-lg container">
          <a
            class="navbar-brand font-weight-bolder font-logo"
            href="#"
          >TECNO<span class="font-logo1">services</span></a>

          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="./">Home
                  <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  href="./distribudor-digi-oficial"
                >Digi Oficial</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./servicio-tecnico">Servicio Tecnico</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Lowcost
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/lowi">Lowi</a>
                  <a class="dropdown-item" href="/finetwork">Finetwork</a>
                  <a class="dropdown-item" href="/republica-movil">Republica
                    Móvil</a>
                  <a
                    class="dropdown-item"
                    href="/distribudor-digi-oficial"
                  >DigiMobile</a>
                </div>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="./abaout">Sobre Nosotros </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./contacto">Contacto </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
{{!--       <div class="col-md-12 text-center">
        <a
          href="/configurador-digi"
          class="btn btn-digi-green"
          style="top:125px;left:0;padding:20px 50px"
        > Configura tu Tarifa</a>

      </div> --}}
    </header>

    <div class="body1">
      <div class="content m-auto">
        <div>
          <ul class="nav nav-tabs container" id="list-tab" role="tablist">
            <li class="nav-item col-md-6 p-2 col-6 text-center">
              <a
                class="nav-link active"
                id="DIGI-ILIMITADO-list"
                data-toggle="list"
                href="#DIGI-ILIMITADO"
                role="tab"
                aria-controls="home"
                href="#"
              >DIGI ILIMITADO</a>
            </li>
            <li class="nav-item col-md-6 p-2 col-6 text-center">
              <a
                class="nav-link"
                id="DIGI-COMBO-list"
                data-toggle="list"
                href="#DIGI-COMBO"
                role="tab"
                aria-controls="profile"
              >DIGI COMBO</a>
            </li>
           
          </ul>
          <div class="container">
            <div class="tab-content" id="nav-tabContent">
              <div
                class="tab-pane fade show active col-lg-12"
                id="DIGI-ILIMITADO"
                role="tabpanel"
                aria-labelledby="DIGI-ILIMITADO-list"
              >
                <div class="text-center p-3">
                  <h5>Para navegar y llamar a destinos nacionales</h5>
                </div>
                <div class="row pt-3 pb-4">
                  <div class="col-11 col-md-4 col-lg-3 m-auto">
                    <div class="tarifa border-ilim">
                      <div class="gigas color-blue">
                        5GB
                      </div>
                      <div class="tarifa-sub">
                        acumulables
                      </div>
                      <div class="tarifa-mas">
                        +
                      </div>
                      <div class="tarifa-bol color-blue font-weigh-bolder">
                        LLAMADAS ILIMITADAS
                      </div>
                      <div>
                        a móviles y fijos de España
                      </div>
                      <div class="tarifa-precio color-blue">
                        7
                      </div>
                      <div class="tarifa-euro mb-4">
                        €/mes
                      </div>

                    </div>
                  </div>
                  <div class="col-11 col-md-4 col-lg-3 m-auto">
                    <div class="tarifa border-ilim left">
                      <div class="gigas color-blue">
                        10GB
                      </div>
                      <div class="tarifa-sub">
                        acumulables
                      </div>
                      <div class="tarifa-mas">
                        +
                      </div>
                      <div class="tarifa-bol color-blue font-weigh-bolder">
                        LLAMADAS ILIMITADAS
                      </div>
                      <div>
                        a móviles y fijos de España
                      </div>
                      <div class="tarifa-precio color-blue">
                        10
                      </div>
                      <div class="tarifa-euro mb-4">
                        €/mes
                      </div>
                    </div>
                  </div>
                  <div class="col-11 col-md-4 col-lg-3 m-auto">
                    <div class="tarifa border-ilim">
                      <div class="gigas color-blue">
                        20GB
                      </div>
                      <div class="tarifa-sub">
                        acumulables
                      </div>
                      <div class="tarifa-mas">
                        +
                      </div>
                      <div class="tarifa-bol color-blue font-weigh-bolder">
                        LLAMADAS ILIMITADAS
                      </div>
                      <div>
                        a móviles y fijos de España
                      </div>
                      <div class="tarifa-precio color-blue">
                        15
                      </div>
                      <div class="tarifa-euro mb-4">
                        €/mes
                      </div>

                    </div>
                  </div>
                  <div class="col-11 col-md-4 col-lg-3 m-auto">
                    <div class="tarifa border-ilim">
                      <div class="gigas color-blue">
                        40GB
                      </div>
                      <div class="tarifa-sub">
                        acumulables
                      </div>
                      <div class="tarifa-mas">
                        +
                      </div>
                      <div class="tarifa-bol color-blue font-weigh-bolder">
                        LLAMADAS ILIMITADAS
                      </div>
                      <div>
                        a móviles y fijos de España
                      </div>
                      <div class="tarifa-precio color-blue">
                        20
                      </div>
                      <div class="tarifa-euro mb-4">
                        €/mes
                      </div>

                    </div>
                  </div>
                  <div class="col-md-12 text-center p-5">
                    Todos los productos de telefonía móvil incluyen LLAMADAS
                    ILIMITADAS DE DIGI A DIGI
                  </div>
                  <div class="container row m-auto pt-5">
                    <div class="col-md-6">
                      <div class="tarifa border-ilim">
                        <div class="row">
                          <div class="col-md-6 text-center">
                            <div
                              class="tarifa-bol color-blue font-weigh-bolder"
                            >
                              GIGAS
                              <br />
                              ILIMITADAS
                            </div>
                            <div class="mb-3">
                             +
                            </div>
                            <div
                              class="tarifa-bol color-blue font-weigh-bolder"
                            >
                              LLAMADAS
                              <br />
                              ILIMITADAS
                            </div>
                            <div class="mb-3">
                              a móviles y fijos de España
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="tarifa-precio color-blue">
                              25
                            </div>
                            <div class="tarifa-euro mb-4">
                              €/mes
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="tarifa border-mini bg-digi-mini">
                        <div class="row">
                          <div class="col-md-6 text-center">
                            <div class="gigas color-combo5">
                              1GB
                            </div>
                            <div class="tarifa-sub">
                              acumulables
                            </div>
                            <div class="tarifa-mas">
                              +
                            </div>
                            <div
                              class="tarifa-bol color-combo5 font-weigh-bolder"
                            >
                              100 minutos
                            </div>
                            <div>
                              a móviles y fijos de España
                            </div>
                            <div
                              class="tarifa-bol color-combo5 font-weigh-bolder"
                            >
                              1.000 SMS
                            </div>
                            <div>
                              de DIGI a DIGI
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="tarifa-precio color-combo5">
                              3
                            </div>
                            <div class="tarifa-euro mb-4">
                              €/mes
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div
                class="tab-pane fade col-lg-12"
                id="DIGI-COMBO"
                role="tabpanel"
                aria-labelledby="DIGI-COMBO-list"
              >
                <div class="text-center p-3">
                  <h5>Para navegar y llamar a destinos nacionales e
                    internacionales.</h5>
                </div>
                <div class="row pt-3 pb-4">
                  <div class="col-11 col-md-4 col-lg-3 m-auto">
                    <div class="tarifa border-combo5 left">
                      <div class="gigas color-combo5">
                        3GB
                      </div>
                      <div class="tarifa-sub">
                        acumulables
                      </div>
                      <div class="tarifa-mas">
                        +
                      </div>
                      <div class="tarifa-bol color-combo5 font-weigh-bolder">
                        100 MINUTOS
                      </div>
                      <div>
                        nacionales e internacionales
                      </div>
                      <div class="tarifa-precio color-combo5">
                        5
                      </div>
                      <div class="tarifa-euro mb-4">
                        €/mes
                      </div>

                    </div>
                  </div>
                  <div class="col-11 col-md-4 col-lg-3 m-auto">
                    <div class="tarifa border-combo10">
                      <div class="gigas color-combo10">
                        10GB
                      </div>
                      <div class="tarifa-sub">
                        acumulables
                      </div>
                      <div class="tarifa-mas">
                        +
                      </div>
                      <div class="tarifa-bol color-combo10 font-weigh-bolder">
                        400 MINUTOS
                      </div>
                      <div>
                        nacionales e internacionales
                      </div>
                      <div class="tarifa-precio color-combo10">
                        10
                      </div>
                      <div class="tarifa-euro mb-4">
                        €/mes
                      </div>

                    </div>
                  </div>
                  <div class="col-11 col-md-4 col-lg-3 m-auto">
                    <div class="tarifa border-combo15">
                      <div class="gigas color-combo15">
                        20GB
                      </div>
                      <div class="tarifa-sub">
                        acumulables
                      </div>
                      <div class="tarifa-mas">
                        +
                      </div>
                      <div class="tarifa-bol color-combo15 font-weigh-bolder">
                        800 MINUTOS
                      </div>
                      <div>
                        nacionales e internacionales
                      </div>
                      <div class="tarifa-precio color-combo15">
                        15
                      </div>
                      <div class="tarifa-euro mb-4">
                        €/mes
                      </div>

                    </div>
                  </div>
                  <div class="col-11 col-md-4 col-lg-3 m-auto">
                    <div class="tarifa border-combo20">
                      <div class="gigas color-combo20">
                        40GB
                      </div>
                      <div class="tarifa-sub">
                        acumulables
                      </div>
                      <div class="tarifa-mas">
                        +
                      </div>
                      <div class="tarifa-bol color-combo20 font-weigh-bolder">
                        2.000 MINUTOS
                      </div>
                      <div>
                        nacionales e internacionales
                      </div>
                      <div class="tarifa-precio color-combo20">
                        20
                      </div>
                      <div class="tarifa-euro mb-4">
                        €/mes
                      </div>

                    </div>
                  </div>
                                    <div class="container row m-auto pt-5">
                    <div class="col-md-6">
                      <div class="tarifa border-ilim">
                        <div class="row">
                          <div class="col-md-6 text-center">
                            <div
                              class="tarifa-bol color-blue font-weigh-bolder"
                            >
                              GIGAS
                              <br />
                              ILIMITADAS
                            </div>
                            <div class="mb-3">
                             +
                            </div>
                            <div
                              class="tarifa-bol color-blue font-weigh-bolder"
                            >
                              LLAMADAS
                              <br />
                              ILIMITADAS
                            </div>
                            <div class="mb-3">
                              a móviles y fijos de España
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="tarifa-precio color-blue">
                              25
                            </div>
                            <div class="tarifa-euro mb-4">
                              €/mes
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="tarifa border-mini bg-digi-mini">
                        <div class="row">
                          <div class="col-md-6 text-center">
                            <div class="gigas color-combo5">
                              1GB
                            </div>
                            <div class="tarifa-sub">
                              acumulables
                            </div>
                            <div class="tarifa-mas">
                              +
                            </div>
                            <div
                              class="tarifa-bol color-combo5 font-weigh-bolder"
                            >
                              100 minutos
                            </div>
                            <div>
                              a móviles y fijos de España
                            </div>
                            <div
                              class="tarifa-bol color-combo5 font-weigh-bolder"
                            >
                              1.000 SMS
                            </div>
                            <div>
                              de DIGI a DIGI
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="tarifa-precio color-combo5">
                              3
                            </div>
                            <div class="tarifa-euro mb-4">
                              €/mes
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade col-lg-12"
                id="DIGI-NAVEGA"
                role="tabpanel"
                aria-labelledby="DIGI-NAVEGA-list"
              >
                <div class="text-center p-3">
                  <h5>Para navegar a alta velocidad.</h5>
                </div>
                <div class="row pt-3 pb-4">
                  <div class="col-md-3 col-11 m-auto">
                    <div class="tarifa border-navega left">
                      <div class="gigas color-navega">
                        3GB
                      </div>
                      <div class="tarifa-sub">
                        acumulables
                      </div>
                      <div class="tarifa-precio color-navega">
                        5
                      </div>
                      <div class="tarifa-euro mb-4">
                        €/mes
                      </div>

                    </div>
                  </div>
                  <div class="col-md-3 col-11 m-auto">
                    <div class="tarifa border-navega">
                      <div class="gigas color-navega">
                        6GB
                      </div>
                      <div class="tarifa-sub">
                        acumulables
                      </div>
                      <div class="tarifa-precio color-navega">
                        10
                      </div>
                      <div class="tarifa-euro mb-4">
                        €/mes
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade col-lg-12"
                id="DIGI-CONF"
                role="tabpanel"
                aria-labelledby="DIGI-CONF-list"
              >

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="container m-auto">
      <div class="row">
        <div class="col-lg-6 col-12">
          <a
            href="./politica-privacidad"
            target="_blank"
            rel="noopener noreferrer"
          >POLÍTICA</a>
          |
          <a href=".//avisolegal">AVISO LEGAL</a>
          |
          <a
            href="./politica-cookies"
            target="_blank"
            rel="noopener noreferrer"
          >COOKIES</a>
        </div>
        <div class="col-lg-6 col-12 text-right">
          © 2020, realizado por
          <a href="https://joeldev.es">JOELDEV</a>
          para una mejor web
        </div>
      </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="./dist/js/index.js"></script>
    <script src="./dist/js/digi.js"></script>

  </body>

</html>