<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="🥇 Tecnoservices 🥇 Ofrecemos una variedad de Servicos Reparación móvil, Ordenadores, instalaciones de redes e instalaciones de amplificador de cobertura">
    <title>TecnoServices 🥇- Ey ¿Quieres pagar menos por tu teléfono e internet? Ponte en contacto con nosotros. </title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="dist/css/main.css">
    <link rel="stylesheet" href="dist/css/bg-colors.css">
    <script src="https://kit.fontawesome.com/dc256b1234.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KNYLQ0GYRL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-KNYLQ0GYRL');
    </script>

</head>

<body>

    <header class="background-carrusel1 " id="header">
        <div class="pt-2 pb-2 navbar-light bg-light sticky-top nav-shadow"
            style="border-bottom-left-radius: 5px;border-bottom-right-radius: 5px ;">
            <nav class="navbar navbar-expand-lg container">
                <a class="navbar-brand  font-weight-bolder font-logo" href="#">TECNO<span
                        class="font-logo1">services</span></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto ">
                        <li class="nav-item">
                            <a class="nav-link active" href="./">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="./distribudor-digi-oficial">Digi Oficial</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./servicio-tecnico">Servicio Tecnico</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Lowcost
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/lowi">Lowi</a>
                                <a class="dropdown-item" href="/finetwork">Finetwork</a>
                                <a class="dropdown-item" href="/republica-movil">Republica Móvil</a>
                                <a class="dropdown-item" href="/distribudor-digi-oficial">DigiMobile</a>

                            </div>
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link" href="./abaout">Sobre Nosotros </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="./contacto">Contacto </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="content col-lg-11 m-auto text-center text-light">


        </div>
    </header>
    <div class="body roboto">
        <div class="content m-auto">
            <div class="text-center p-2">
                <p style="font-size: 25px;">¿Quieres pagar menos de teléfono e internet? Ponte en contacto con nosotros. </p>
                <p>Seleciona tu Tienda</p>
            </div>
            <div class="container">
                <div class="row m-auto">
                    <div class="col-10 col-md-10 col-lg-3 card-shop m-auto">
                        <img src="./dist/img/lope.jpg" class="mb-2" alt="">
                        <h3>Distribudor Oficial</h3>
                        <a href="./distribudor-digi-oficial" class="btn btn-digi-green">Ir al sitio</a>
                    </div>
                    <div class="col-10 col-md-10 col-lg-3 card-shop m-auto">
                        <img src="./dist/img/service-428539_640.jpg" height="158px" class="mb-2" alt="">
                        <h3>Servicio Tecnico</h3>

                        <a href="" class="btn btn-digi-green">Ir al sitio</a>
                    </div>
                    <div class="col-10 col-md-10 col-lg-3 card-shop m-auto">
                        <img src="./dist/img/val1.jpg" class="mb-2" alt="">
                        <h3>Telefonía Lowcost</h3>
                        <a href="/lowcost" class="btn btn-digi-green">Ir al sitio</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <footer class="container m-auto">
        <div class=" row">
            <div class="col-lg-6 col-12">
 <a href="./politica-privacidad" target="_blank" rel="noopener noreferrer">POLÍTICA</a> | <a
                    href=".//avisolegal">AVISO
                    LEGAL</a> | <a href="./politica-cookies" target="_blank" rel="noopener noreferrer">COOKIES</a>            </div>
            <div class="col-lg-6 col-12 text-right">
                © 2020, realizado por <a href="https://joeldev.es">JOELDEV</a> para una mejor web
            </div>
        </div>
    </footer>
    <div class="row numero">
        <a class="btn btn-primary" href="tel:+34667873084"><i class="fas fa-phone-alt"></i> Llamar</a>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./dist/js/alertify/css/alertify.min.css">
        <link rel="stylesheet" href="./dist/js/alertify/css/themes/default.min.css">
        <script src="./dist/js/alertify/alertify.min.js"></script>
    <script src="./dist/js/index.js"></script>
    <script src="sw_offlinesite.js"></script>

</body>
<script>
    if ('serviceWorker' in navigator) {
        console.log("el navegador admite service worker")
        window.addEventListener('load', function () {
            navigator.serviceWorker.register('sw_offlinesite.js')
                .then(function (registration) {
                    console.log("service worker registrado correctamente")
                    console.log("Scopr" + registration.scope)
                }), function (err) {
                    console.log("errror ")
                    console.log(err)
                }
        })
    }
</script>

</html>