<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="dist/css/main.css">
    <link rel="stylesheet" href="dist/css/bg-colors.css">

    <title>Política de Privacidad</title>
</head>

<body>

    <div class="pt-2 pb-2 navbar-light bg-light sticky-top nav-shadow"
        style="border-bottom-left-radius: 5px;border-bottom-right-radius: 5px ;">
        <nav class="navbar navbar-expand-lg container">
            <a class="navbar-brand  font-weight-bolder font-logo" href="#">TECNO<span
                    class="font-logo1">services</span></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="./">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="./distribudor-digi-oficial">Digi Oficial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./servicio-tecnico">Servicio Tecnico</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="./lowcost">LowCost</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="./abaout">Sobre Nosotros </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="./contacto">Contacto </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="body1">
        <section class="container mt-5 text-justify">
            <h3 class="text-center">POLÍTICA DE PRIVACIDAD</h3>
            <p class="text-justify">
                <b>1. INFORMACIÓN AL USUARIO</b> <br>
            </p>
            <p><b>TECNO SERVICES WIFI CONNECT S.L.</b>, en adelante RESPONSABLE, es el Responsable del tratamiento de
                los
                datos personales del Usuario y le informa que estos datos serán tratados de conformidad con lo
                dispuesto en el Reglamento (UE) 2016/679 de 27 de abril (GDPR) y la Ley Orgánica 3/2018 de 5 de
                diciembre (LOPDGDD), por lo que se le facilita la siguiente información del tratamiento: <br>
            </p>
            <p>
                <b>Fin del tratamiento:</b> mantener una relación comercial con el Usuario. Las operaciones
                previstas para
                realizar el tratamiento son: <br>
            </p>
            <ul>
                <li>
                    Remisión de comunicaciones comerciales publicitarias por email, fax, SMS, MMS,
                    comunidades sociales o cualquier otro medio electrónico o físico, presente o futuro, que
                    posibilite realizar comunicaciones comerciales. Estas comunicaciones serán realizadas por el
                    RESPONSABLE y relacionadas sobre sus productos y servicios, o de sus colaboradores o
                    proveedores con los que éste haya alcanzado algún acuerdo de promoción. En este caso, los
                    terceros nunca tendrán acceso a los datos personales.
                </li>
                <li>
                    Realizar estudios estadísticos.
                </li>
                <li>
                    Tramitar encargos, solicitudes o cualquier tipo de petición que sea realizada por el usuario a
                    través de cualquiera de las formas de contacto que se ponen a su disposición.
                </li>
                <li>
                    Remitir el boletín de noticias de la página web.
                </li>
            </ul>
            <p><b>Base jurídica del tratamiento:</b> consentimiento del interesado.</p>
            <p>
                <b>Criterios de conservación de los datos:</b> se conservarán durante no más tiempo del necesario
                para
                mantener el fin del tratamiento y cuando ya no sea necesario para tal fin, se suprimirán con medidas
                de seguridad adecuadas para garantizar la seudonimización de los datos o la destrucción total de los
                mismos.
            </p>
            <p><b>Comunicación de los datos:</b> No se comunicarán los datos a terceros, salvo obligación legal.</p>
            <p><b>Derechos que asisten al Usuario: </b>
            </p>
            <ul>
                <li>
                    Derecho a retirar el consentimiento en cualquier momento.
                </li>
                <li>
                    Derecho de acceso, rectificación, portabilidad y supresión de sus datos y a la limitación u
                    oposición al su tratamiento.
                </li>
                <li>
                    Derecho a presentar una reclamación ante la autoridad de control (www.aepd.es) si considera
                    que el tratamiento no se ajusta a la normativa vigente.
                </li>
            </ul>
            <p></p>
            <p>
                <b>Datos de contacto para ejercer sus derechos: </b> <br>
                Federico FSantonja Rivers. C/. de las Ánimas, 11- 28802 ALCALA DE HENARES
                (Madrid). ó Paseo de los Curas, 3- 28803 ALCALA DE HENARES
                (Madrid). Email: info@tecnoservices.es
            </p>

            <p><b>2. CARÁCTER OBLIGATORIO O FACULTATIVO DE LA INFORMACIÓN FACILITADA POR EL
                    USUARIO</b> <br>
                Los Usuarios, mediante la marcación de las casillas correspondientes y entrada de datos en los
                campos, marcados con un asterisco (*) en el formulario de contacto o presentados en formularios de
                descarga, aceptan expresamente y de forma libre e inequívoca, que sus datos son necesarios para
                atender su petición, por parte del prestador, siendo voluntaria la inclusión de datos en los campos
                restantes. El Usuario garantiza que los datos personales facilitados al RESPONSABLE son veraces y
                se hace responsable de comunicar cualquier modificación de los mismos.
                El RESPONSABLE informa y garantiza expresamente a los usuarios que sus datos personales no
                serán cedidos en ningún caso a terceros, y que siempre que realizara algún tipo de cesión de datos
                personales, se pedirá previamente el consentimiento expreso, informado e inequívoco por parte los
                Usuarios. Todos los datos solicitados a través del sitio web son obligatorios, ya que son necesarios
                para la prestación de un servicio óptimo al Usuario. En caso de que no sean facilitados todos los
                datos,
                no se garantiza que la información y servicios facilitados sean completamente ajustados a sus
                necesidades.
            </p>
            <p><b>3. MEDIDAS DE SEGURIDAD</b><br>

                Que de conformidad con lo dispuesto en las normativas vigentes en protección de datos personales, el
                RESPONSABLE está cumpliendo con todas las disposiciones de las normativas GDPR para el
                tratamiento de los datos personales de su responsabilidad, y manifiestamente con los principios
                descritos en el artículo 5 del GDPR, por los cuales son tratados de manera lícita, leal y
                transparente en
                relación con el interesado y adecuados, pertinentes y limitados a lo necesario en relación con los
                fines
                para los que son tratados.
                El RESPONSABLE garantiza que ha implementado políticas técnicas y organizativas apropiadas para
                aplicar las medidas de seguridad que establecen el GDPR con el fin de proteger los derechos y
                libertades de los Usuarios y les ha comunicado la información adecuada para que puedan ejercerlos.
            </p>
        </section>
    </div>
    <footer class="container m-auto">
        <div class=" row">
            <div class="col-lg-6 col-12">
                <a href="./politica-privacidad" target="_blank" rel="noopener noreferrer">POLÍTICA</a>|<a
                    href=".//avisolegal">AVISO
                    LEGAL</a>| <a href="./politica-cookies" target="_blank" rel="noopener noreferrer">COOKIES</a> </div>
            <div class="col-lg-6 col-12 text-right">
                © 2020, realizado por <a href="https://joeldev.es">JOELDEV</a> para una mejor web
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>