<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="dist/css/main.css">
    <link rel="stylesheet" href="dist/css/republica.css">

    <link rel="stylesheet" href="dist/css/bg-colors.css">
    <meta name="description"
        content="🥇En Tecnoservices 🥇 trabajamos con Republica movil y sabemos que es una de las mejores empresas con buenos precios y calidad">
    <title>TecnoServices ✅ Lowcost ✅ - Republica Movil</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KNYLQ0GYRL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-KNYLQ0GYRL');
    </script>
</head>

<body>
    <div class="pt-2 pb-2 navbar-light bg-light sticky-top nav-shadow"
        style="border-bottom-left-radius: 5px;border-bottom-right-radius: 5px ;">
        <nav class="navbar navbar-expand-lg container">
            <a class="navbar-brand  font-weight-bolder font-logo" href="#">TECNO<span
                    class="font-logo1">services</span></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item">
                        <a class="nav-link " href="./">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="./distribudor-digi-oficial">Digi Oficial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./servicio-tecnico">Servicio Tecnico</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Lowcost
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/lowi">Lowi</a>
                            <a class="dropdown-item" href="/finetwork">Finetwork</a>
                            <a class="dropdown-item" href="/republica-movil">Republica Móvil</a>
                            <a class="dropdown-item" href="/distribudor-digi-oficial">DigiMobile</a>
                        </div>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="./abaout">Sobre Nosotros </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="./contacto">Contacto </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="body">
        <div class="content m-auto" style="background-color: #fff;">
            <div class="pt-2 pb-2 text-center">
                <h2 class="col-6 col-lg-4 col-md-4 m-auto">
                    <img src="./dist/img/republica-movil-350x183_0.png" class="mb-2 pr-2 pl-2 w-100" alt="">
                </h2>
                <P class="container" style="font-size: 20px;     font-weight: 500; ">Somos distribuidores oficiales de
                    REPUBLICA MOVIL operador low cost con cobertura orange <br>
                    TARIFAS DESDE 0€ AL MES <br>
                    Crea tu propia tarifa decide cuanto quieres hablar y cuantos datos necesitas <br>
                    Sin permanencia ni compromisos <br>
                    Tanto en contrato como en prepago <br>
                    Te lo recomendamos!!! <br>
                </P>
            </div>
            <div class="col-lg-11 m-auto pb-3">

                <div class="row  fibra">
                    <div class=" pb-2 text-center col-lg-12">
                        <h3 class="roboto text-center" style="font-size: 40px;">NUESTRAS TARIFAS</h3>
                        <P class=" " style="font-size: 20px; color: #16c7a3 !important; font-weight: 500; ">Contrato y
                            Prepago | Sin permanencia | 4G </P>
                    </div>
                    <div class="col-lg-8 mb-4  text-dark">
                        <div class="row ">
                            <div class="col-lg-6 ">
                                <div class="row product">
                                    <p class="text-dark col-md-12 mt-3 mb-n3 roboto"
                                        style="font-size:18px; color: #823283!important">¿Hablas poco?
                                    </p>
                                    <div class=" col-lg-12 col-md-4 mb-n3  col-6" style="padding:10px!important">
                                        <input class="" type="radio" value="" name="fibra" id="tarifa1" checked>
                                        <label class="tarifa-fibra   " for="tarifa1">
                                            <div class=" text-center row">
                                                <div class="name col-lg-4">Cero</div>
                                                <div class="price col-lg-4">
                                                    <div>
                                                        <div class="price-int">0 <sup>€</sup> </div>
                                                    </div>
                                                </div>
                                                <div class="units col-lg-4">
                                                    <div class="data">0GB</div>
                                                    <div class="voice">0 min. llamada</div>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class=" col-lg-12 col-md-4 mb-n3  col-6" style="padding:10px!important">
                                        <input class="" type="radio" value="" name="fibra" id="tarifa2">
                                        <label class="tarifa-fibra   " for="tarifa2">
                                            <div class=" text-center row">
                                                <div class="name col-lg-4">Mini +</div>
                                                <div class="price col-lg-4">
                                                    <div>
                                                        <div class="price-int">6 <sup>€</sup> </div>
                                                    </div>
                                                </div>
                                                <div class="units col-lg-4">
                                                    <div class="data">3GB</div>
                                                    <div class="voice">150 min. Llamadas</div>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class=" col-lg-12 col-md-4 mb-n3  col-12" style="padding:10px!important">
                                        <input class="" type="radio" value="" name="fibra" id="tarifa3">
                                        <label class="tarifa-fibra   " for="tarifa3">
                                            <div class=" text-center row">
                                                <div class="name col-lg-4">Pequeña+</div>
                                                <div class="price col-lg-4">
                                                    <div>
                                                        <div class="price-int">10 <sup>€</sup> </div>
                                                    </div>
                                                </div>
                                                <div class="units col-lg-4">
                                                    <div class="data">7GB</div>
                                                    <div class="voice">150 min. Llamada</div>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 ">
                                <div class="row product2">
                                    <p class="text-dark col-md-12 mt-3 mb-n3 roboto"
                                        style="font-size:18px; color: #16C7A3!important">Llamadas ilimitadas
                                    </p>
                                    <div class=" col-lg-12 col-md-4 mb-n3  col-6" style="padding:10px!important">
                                        <input class="" type="radio" value="" name="fibra" id="tarifa4">
                                        <label class="tarifa-fibra   " for="tarifa4">
                                            <div class=" text-center row">
                                                <div class="name col-lg-4">Pequeña∞</div>
                                                <div class="price col-lg-4">
                                                    <div>
                                                        <div class="price-int">10 <sup>€</sup> </div>
                                                    </div>
                                                </div>
                                                <div class="units col-lg-4">
                                                    <div class="data">6GB</div>
                                                    <div class="voice">Llamadas Ilimitadas</div>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class=" col-lg-12 col-md-4 mb-n3  col-6" style="padding:10px!important">
                                        <input class="" type="radio" value="" name="fibra" id="tarifa5">
                                        <label class="tarifa-fibra   " for="tarifa5">
                                            <div class=" text-center row">
                                                <div class="name col-lg-4">Mediana∞</div>
                                                <div class="price col-lg-4">
                                                    <div>
                                                        <div class="price-int">15 <sup>€</sup> </div>
                                                    </div>
                                                </div>
                                                <div class="units col-lg-4">
                                                    <div class="data">14GB</div>
                                                    <div class="voice">Llamadas ilimitadas</div>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class=" col-lg-12 col-md-4 mb-n3  col-12" style="padding:10px!important">
                                        <input class="" type="radio" value="" name="fibra" id="tarifa6">
                                        <label class="tarifa-fibra   " for="tarifa6">
                                            <div class=" text-center row">
                                                <div class="name col-lg-4">Unica∞</div>
                                                <div class="price col-lg-4">
                                                    <div>
                                                        <div class="price-int">20 <sup>€</sup> </div>
                                                    </div>
                                                </div>
                                                <div class="units col-lg-4">
                                                    <div class="data">25GB</div>
                                                    <div class="voice">Llamadas Ilimitadas</div>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 tarifa tarifa-finetwork ">
                        <div class="gigas color-finetwork" id="name-tarifa">
                            Cero
                        </div>
                        <div class="tarifa-precio color-finetwork mb-1" id="pricefibra">
                            0€
                        </div>
                        <div class="tarifa-sub mb-3">
                            AL MES, IVA INCL.
                        </div>

                        <div>
                            <a href="/contacto" class="btn col-12 btn-lowi-contr">Saber Más</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="container m-auto">
        <div class=" row">
            <div class="col-lg-6 col-12">
                <a href="./politica-privacidad" target="_blank" rel="noopener noreferrer">POLÍTICA</a>|<a href="">AVISO LEGAL</a>| <a href="./politica-cookies" target="_blank" rel="noopener noreferrer">COOKIES</a>
            </div>
            <div class="col-lg-6 col-12 text-right">
                © 2020, realizado por <a href="https://joeldev.es">JOELDEV</a> para una mejor web
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="./dist/js/index.js"></script>
    <script src="./dist/js/republica.js"></script>
</body>

</html>