<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content=" Tecnoservices  Ofrecemos una variedad de Servicos Reparaci贸n m贸vil, Ordenadores, instalaciones de redes e instalaciones de amplificador de cobertura">
    <title>TecnoServices - Tarifas Lowcost - Reparaciones</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="dist/css/main.css">
    <link rel="stylesheet" href="dist/css/bg-colors.css">
    <script src="https://kit.fontawesome.com/dc256b1234.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KNYLQ0GYRL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-KNYLQ0GYRL');
    </script>

</head>

<body>
    <div class="pt-2 pb-2 navbar-light bg-light sticky-top nav-shadow"
        style="border-bottom-left-radius: 5px;border-bottom-right-radius: 5px ;">
        <nav class="navbar navbar-expand-lg container">
            <a class="navbar-brand  font-weight-bolder font-logo" href="#">TECNO<span
                    class="font-logo1">services</span></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item">
                        <a class="nav-link " href="./">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="./distribudor-digi-oficial">Digi Oficial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="./servicio-tecnico">Servicio Tecnico</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Lowcost
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/lowi">Lowi</a>
                            <a class="dropdown-item" href="/finetwork">Finetwork</a>
                            <a class="dropdown-item" href="/republica-movil">Republica M贸vil</a>
                            <a class="dropdown-item" href="/distribudor-digi-oficial">DigiMobile</a>
                        </div>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="./abaout">Sobre Nosotros </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="./contacto">Contacto </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="content col-lg-11 m-auto text-center text-light">


    </div>
    <div class="body roboto">
        <div class="content m-auto">
            <div class="text-center p-2" style="height: 20PX;">
                <p>
                </p>
            </div>
            <div class="container">
                <div class="row m-auto">
                    <div class="col-10 col-md-10 col-lg-3 card-shop m-auto">
                        <img src="./dist/img/reparacion-movil.jpg " class="mb-2" alt="">
                        <h3>Reparaci贸n M贸vil y Tablet</h3>
                        <a href="./contacto" class="btn btn-digi-green">Consultar</a>
                    </div>
                    <div class="col-10 col-md-10 col-lg-3 card-shop m-auto">
                        <img src="./dist/img/redes.jpg " class="mb-2" alt="">
                        <h3>Instalaci贸n de Redes</h3>

                        <a href="./contacto" class="btn btn-digi-green">Consultar</a>
                    </div>
                    <div class="col-10 col-md-10 col-lg-3 card-shop m-auto">
                        <img src="./dist/img/radio-tower-1270871_1280.jpg" height="167.72px" class="mb-2" alt="">
                        <h3>Amplificadores de Cobertura</h3>
                        <a href="./contacto" class="btn btn-digi-green">Consultar</a>
                    </div>
                </div>
                <section class="mt-2 pt-5">
                    <h2 class="p-3" id="repmovil">Reparaci贸n de M贸viles y Tablets</h2>
                    <div class="row">
                        <div class="col-lg-6">
                            Disponemos de taller para reparaci贸n de tel茅fonos y Tablet de todas las marcas.
                            Elaboramos presupuesto sin compromiso.
                            Con las mejores calidades tanto en reparaci贸n como en piezas, tanto originales como marcas
                            blancas
                        </div>
                        <div class="col-lg-6">

                            <ul class="list-group">
                                <li class="list-group-item">Cambio de Pantallas</li>
                                <li class="list-group-item">Cambio de Bateria</li>
                                <li class="list-group-item">Cambio de Conector de Carga </li>
                                <li class="list-group-item">Reparaci贸n M贸viles Mojados</li>
                                <li class="list-group-item">Reparaci贸n de Sistema</li>
                                <li class="list-group-item">etc...</li>
                            </ul>
                        </div>

                    </div>
                </section>
                <section class="mt-5 pt-5" id="instRedes">
                    <h2 class="p-3">Instalaci贸n de Redes</h2>
                    <div class="row">
                        <div class="col-lg-6">
                            Hacemos instalaciones de cualquier tipo de red y cableado.
                            Amplificaci贸n de redes wifi
                        </div>
                        <div class="col-lg-6">

                        <img src="./dist/img/redes.jpg" width="100%" class="mb-2" alt="">

                        </div>

                    </div>
                </section>
                <section class="mt-5 pt-5" id="instCober">
                    <h2 class="p-3">Instalaci贸n de amplificadores de cobertura</h2>
                    <div class="row">
                        <div class="col-lg-6">
                            Departamento t茅cnico propio para estudio e instalaci贸n de amplificadores de cobertura tanto
                            para empresas como particulares.
                            Presupuestos a medida.
                            Si no tienes cobertura ll谩manos !!!
                        </div>
                        <div class="col-lg-6">
                        <img src="./dist/img/radio-tower-1270871_1280.jpg" width="100%" class="mb-2" alt="">

                        </div>

                    </div>
                </section>
            </div>

        </div>
    </div>
    <footer class="container m-auto">
        <div class=" row">
            <div class="col-lg-6 col-12">
 <a href="./politica-privacidad" target="_blank" rel="noopener noreferrer">POLTICA</a> | <a
                    href=".//avisolegal">AVISO
                    LEGAL</a> | <a href="./politica-cookies" target="_blank" rel="noopener noreferrer">COOKIES</a>            </div>
            <div class="col-lg-6 col-12 text-right">
                漏 2020, realizado por <a href="https://joeldev.es">JOELDEV</a> para una mejor web
            </div>
        </div>
    </footer>
    <div class="row numero">
        <a class="btn btn-primary" href="tel:+667873084"><i class="fas fa-phone-alt"></i> Llamar</a>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="./dist/js/index.js"></script>
    <script src="sw_offlinesite.js"></script>

</body>

</html>